<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjc.hotelmanage.org.dao.HotelkindMapper">
  <resultMap id="BaseResultMap" type="zjc.hotelmanage.org.model.Hotelkind">
    <constructor>
      <idArg column="HotelKindID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="HotelKindName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HotelKindID, HotelKindName
  </sql>
  <select id="selectByExample" parameterType="zjc.hotelmanage.org.model.HotelkindExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hotelkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotelkindjyc
    where HotelKindID = #{hotelkindid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotelkindjyc
    where HotelKindID = #{hotelkindid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zjc.hotelmanage.org.model.HotelkindExample">
    delete from hotelkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zjc.hotelmanage.org.model.Hotelkind">
    insert into hotelkindjyc (HotelKindID, HotelKindName)
    values (#{hotelkindid,jdbcType=INTEGER}, #{hotelkindname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zjc.hotelmanage.org.model.Hotelkind">
    insert into hotelkindjyc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelkindid != null">
        HotelKindID,
      </if>
      <if test="hotelkindname != null">
        HotelKindName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelkindid != null">
        #{hotelkindid,jdbcType=INTEGER},
      </if>
      <if test="hotelkindname != null">
        #{hotelkindname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zjc.hotelmanage.org.model.HotelkindExample" resultType="java.lang.Long">
    select count(*) from hotelkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hotelkindjyc
    <set>
      <if test="record.hotelkindid != null">
        HotelKindID = #{record.hotelkindid,jdbcType=INTEGER},
      </if>
      <if test="record.hotelkindname != null">
        HotelKindName = #{record.hotelkindname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hotelkindjyc
    set HotelKindID = #{record.hotelkindid,jdbcType=INTEGER},
      HotelKindName = #{record.hotelkindname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zjc.hotelmanage.org.model.Hotelkind">
    update hotelkindjyc
    <set>
      <if test="hotelkindname != null">
        HotelKindName = #{hotelkindname,jdbcType=VARCHAR},
      </if>
    </set>
    where HotelKindID = #{hotelkindid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zjc.hotelmanage.org.model.Hotelkind">
    update hotelkindjyc
    set HotelKindName = #{hotelkindname,jdbcType=VARCHAR}
    where HotelKindID = #{hotelkindid,jdbcType=INTEGER}
  </update>
</mapper>